.ItemCard {
  margin: 0em 1em 0em 1em;
}
.ItemCard, img {
    position: relative;
    float: left;
    width:  12em;
    height: 12em;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
